<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.testyourself.knowyoursport"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="15"
        android:targetSdkVersion="15" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
         android:theme="@style/Theme.NoTitle" >
        <activity
            android:name="com.testyourself.knowyoursport.MainActivity"
            android:clearTaskOnLaunch="true"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="portrait"
            android:launchMode="singleTask"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.testyourself.knowyoursport.Questions"
            android:label="@string/title_activity_question"
             android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="portrait"
            android:parentActivityName="com.example.testyourself.Level" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.testyourself.Level" />

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        
         <activity
            android:name="com.testyourself.knowyoursport.Questions2"
            android:label="title_activity_question2"
             android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="portrait"
            android:parentActivityName="com.example.testyourself.Button2" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.testyourself.Questions2" />

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.testyourself.knowyoursport.Answer"
            
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="@string/title_activity_answer1"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        
        
          <activity
            android:name="com.testyourself.knowyoursport.About"
            
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="About"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        
                <activity
            android:name="com.testyourself.knowyoursport.Answer2"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="portrait"
            android:label="@string/title_activity_answer2"
         >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.testyourself.knowyoursport.GameOver"
            android:label="GameOver"
             android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.1Dialog" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.testyourself.knowyoursport.Correct"
            android:label="You are right!!"
             android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.1Dialog" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        
          <activity
            android:name="com.testyourself.knowyoursport.Congratulation"
            android:label="That's the last question"
             android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.1Dialog" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.testyourself.knowyoursport.Category"
             android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="portrait"
            android:label="Sports" 
          >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        
        
         <activity
            android:name="com.testyourself.knowyoursport.Instructions"
            android:label="Sports" 
             android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="portrait"
              >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.testyourself.knowyoursport.Buttons2"
            android:label="Buttons2" 
             android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="portrait"
             >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.testyourself.knowyoursport.Buttons"
            android:label="Butttons" 
             android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="portrait"
        >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
    </application>

</manifest>